<i><h4><%=link_to 'Add New Address' ,:contoller=>"contact",:action=>"new"%></h4>

<h4><%=link_to 'Add New Group' ,:contoller=>"manage",:action=>"newgroup"%></h4>

<h4><%=link_to 'Select The Addresss From The Group',:controller=>"manage",:action=>"groupselect"%></h4>


<h4><%=link_to 'Search the memebers',:controller=>"contact",:action=>"search"%></h4></i>
